version: '3.2'
services:
  selenoid:
    image: "aerokube/selenoid:1.10.9"
    container_name: selenoid
    ports:
      - "4444:4444"
    networks:
      selenoid: null
    #  - selenoid
    volumes:
      #- ".:/etc/selenoid"
      #- "./selenoid_config:/etc/selenoid"
      #- "/var/jenkins_home/workspace/test_pipeline/selenoid_conf/selenoid_config:/etc/selenoid"
      - type: bind
        source: "/var/jenkins_home/workspace/test_pipeline/selenoid_conf/selenoid_config/"
        target: "/etc/selenoid"
      #- "/var/jenkins_home/workspace/test_pipeline/selenoid_conf/selenoid_config/:/etc/selenoid"
      - "./target:/output"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "./target:/opt/selenoid/video"
    environment:
      - "OVERRIDE_VIDEO_OUTPUT_DIR=$PWD/target"
    command: ["-conf", "/etc/selenoid/browsers.json", "-video-output-dir", "/opt/selenoid/video", "-container-network", "selenoid"]
  #works ok!
  selenoid-ui:
    image: "aerokube/selenoid-ui:dev-latest"
    container_name: selenoid-ui
    links:
      - selenoid
    ports:
      - "8080:8080"
    networks:
      - selenoid
    command: ["--selenoid-uri", "http://selenoid:4444"]     
networks:
  selenoid:
    external:
      name: selenoid
